/* Estilos personalizados */
body {
  padding-top: 4.5rem;
}

.container {
  margin-top: 2rem;
}

.card {
  margin-bottom: 1.5rem;
}

/* Estilos personalizados para el botón de compra */
.btn-comprar {
  width: 100%;
}